@import '../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// BM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;

:root {
    --primary: #fe2c55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}