@import url(./main.css);

@media(max-width: 700px) {

    .menu-icon {
        display: block;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-list {
        flex-direction: column;
        background-color: var(--green-color);
    }

    .nav-list li {
        width: 100%;
    }

    .nav-list li:hover {
        opacity: 0.6;
    }

    .nav-list li a {
        display: block;
        color: var(--white-color);
        width: 100%;
    }
}