:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;/* căn giữa khối này trong khối khác */
}

.grid__full-width {
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.col-5{
    width: calc(95% / 5);
}