@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.grid {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

:root {
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #6e53fa;
}